$primary_color: #7e35ff;
$secondary_color: #937fff;
$tertiary_color: #29d4ff;
$quaternary_color: #ffbb00;
$quinary_color: #ffffff;
$senary_color: #fafafa;
$septenary_color: #ababab;
$octonary_color: #000000;
$text_main_color: white;